<nav>
    <div class="nav-wrapper">
      <img src="https://i2.wp.com/ajournalofmusicalthings.com/wp-content/uploads/billboard-logo.png?fit=400%2C300"
      alt="logo" width="15%" height="100%" class="brand-logo">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'HOME', root_path%></li>
        <li><%= link_to 'BILLBOARDS', billboard_charts_path %></li>
        <li><%= link_to 'ARTISTS', artists_path %></li>
      </ul>
    </div>
</nav>
